/* meta styling  */
* {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}
/* ******* header section ******* */
/* main header styling  */
header {
  background-color: #1f2937;
  color: white;
  padding: 2% 10% 10% 10%;
}
/* this is for the logo and navigation  */
.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.nav-items {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.nav-links {
  color: white;
  text-decoration: none;
}

/* this is for the banner information  */
.banner-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-left {
  width: 500px;
}

.banner-left h1 {
  font-size: 48px;
  font-weight: 900;
}

.banner-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.banner-left button {
  background-color: #3882f6;
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
}

.img-box {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 500px;
}

/* ***** main section *****  */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

.information .heading {
  color: black;
  font-size: 39px;
  text-align: center;
}

.pictures {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}

.pic-item {
  width: 100px;
}
.pic-item .img {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 5%;
}

/* ****** here is where the second main section live ****** */
.quote {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  height: 500px;
  flex-direction: column;
}

.saying {
  font-size: 36px;
  color: lightslategrey;
}

.call-to-action {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.call-to-action-container {
  display: flex;
  gap: 80px;
  background-color: blue;
  padding: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}

.last-btn button {
  background-color: blue;
  border-color: white;
  color: white;
  padding: 4px;
  box-shadow: none;
}
